## Build results & Caches
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.dotnet/

## Visual Studio & IDEs
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

## Test results
TestResults/
[Tt]est[Rr]esult*/

## Dump outputs & Game artifacts
[Dd]ump/
[Dd]umps/
[Oo]utput/
[Oo]utputs/
*_dump/
*_dumps/
test_dump_*/
build/
publish/
DummyDll/
cpp-sdk/
frida-runtime-dumper/

## Game binary and metadata files
*.apk
*.xapk
*.apks
*.so
*.dat
*.dex
dump.cs
script.json
stringliteral.json
ida.py
ghidra.py
binja.py
